---
layout: default
---

  {% for collection in site.collections %}
    {% if collection[1].docs[0] %}
        <section class="{{collection[0]}} content-holder">
          <div class="goto-side" onclick='load_previous("{{collection[0]}}");'>
            <div class="arrow">
              <i class="fa fa-angle-left" onclick='load_previous("{{collection[0]}}");'></i>
            </div>
          </div>
          <div class="content">
            <div id="{{collection[0]}}">
            </div>
          </div>
          <div class="goto-side" onclick='load_next("{{collection[0]}}");'>
            <div class="arrow">
              <i class="fa fa-angle-right" onclick='load_next("{{collection[0]}}");'></i>
            </div>
          </div>
        </section>
    {% endif %}
  {% endfor %}