<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:300,500' rel='stylesheet' type='text/css'>{% if page.url != "/404.html" %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/css/min-mag-popup-min-lazy-yt.css">
<script src="{{ site.baseurl }}/js/min-mag-popup-min-lazy-yt.js"></script>
<script type="text/javascript">
	{% include common.js %}	{% if page.js %}{% include {{ page.js }} %}{% else %}{% include they.min.js %}{% endif %}
</script>
<!--[if lt IE 9]><script src="{{ site.baseurl }}/js/ie.js"></script><![endif]-->{% endif %}
