  <footer id="footer">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <table>
          <tr>
            <td></td>
            <td><strong>Elevage</strong></td>
          </tr>
          <tr>
            <td></td>
            <td><strong>Pension</strong></td>
          </tr>
          <tr>
            <td></td>
            <td><strong>Cours et Balades</strong></td>
          </tr>
          <tr>
            <td></td>
            <td><strong>Compétition</strong></td>
          </tr>
        </table>
      </div>
      <div class="pure-u-1 pure-u-md-1-3">
        <table>
          <tr>
            <td><i class="fa fa-mobile"></i></td>
            <td><a href="tel:+33618209472">+33 6 00 00 00 00</a></td>
          </tr>
          <tr>
            <td><i class="fa fa-phone"></i></td>
            <td><a href="tel:+33233391175">+33 2 00 00 00 00</a></td>
          </tr>
          <tr>
            <td><i class="fa fa-facebook-square"></i></td>
            <td><a href="https://www.facebook.com/elevage.detheyssamy">Facebook</a></td>
          </tr>
        </table>
      </div>
      <div class="pure-u-1 pure-u-md-1-3">
        <table>
          <tr>
            <td><i class="fa fa-map-marker"></i></td>
            <td>Marc Delarocque et Karin Marcel</td>
          </tr>
          <tr>
            <td></td>
            <td>Haras des Boulaies</td>
          </tr>
          <tr>
            <td></td>
            <td>61230 MARDILLY</td>
          </tr>
          <tr>
            <td><i class="fa fa-envelope-o"></i></td>
            <td><a href="mailto:xxx@xxx.xxx">Contacter par mail</a></td>
          </tr>
        </table>
      </div>
    </div>
  </footer>
