<footer id="footer">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <table>
        <tr>
          <td></td>
          <td><strong>Elevage</strong></td>
        </tr>
        <tr>
          <td></td>
          <td><strong>Pension</strong></td>
        </tr>
        <tr>
          <td></td>
          <td><strong>Cours et Balades</strong></td>
        </tr>
        <tr>
          <td></td>
          <td><strong>Compétition</strong></td>
        </tr>
      </table>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <table>
        <tr>
          <td><a href="tel:+33618209472"><i class="fa fa-mobile"></i></a></td>
          <td><a href="tel:+33618209472">+33 6 18 20 94 72</a></td>
        </tr>
        <tr>
          <td><a href="tel:+33233391175"><i class="fa fa-phone"></i></a></td>
          <td><a href="tel:+33233391175">+33 2 33 39 11 75</a></td>
        </tr>
        <tr>
          <td><a href="https://www.facebook.com/elevage.detheyssamy"><i class="fa fa-facebook-square"></i></a></td>
          <td><a href="https://www.facebook.com/elevage.detheyssamy">Facebook</a></td>
        </tr>
      </table>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <table>
        <tr>
          <td><a href="https://www.google.fr/maps/place/Haras+des+Boulaies/@48.8471994,0.2556551,737m/data=!3m1!1e3!4m5!3m4!1s0x47e1f18784005adf:0xdbe46faa3ebd51c4!8m2!3d48.847323!4d0.256492"><i class="fa fa-map-marker"></i></a></td>
          <td><a href="https://www.google.fr/maps/place/Haras+des+Boulaies/@48.8471994,0.2556551,737m/data=!3m1!1e3!4m5!3m4!1s0x47e1f18784005adf:0xdbe46faa3ebd51c4!8m2!3d48.847323!4d0.256492">Marc Delarocque et Karin Marcel</a></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="https://www.google.fr/maps/place/Haras+des+Boulaies/@48.8471994,0.2556551,737m/data=!3m1!1e3!4m5!3m4!1s0x47e1f18784005adf:0xdbe46faa3ebd51c4!8m2!3d48.847323!4d0.256492">Haras des Boulaies</a></td>
        </tr>
        <tr>
          <td></td>
          <td><a href="https://www.google.fr/maps/place/Haras+des+Boulaies/@48.8471994,0.2556551,737m/data=!3m1!1e3!4m5!3m4!1s0x47e1f18784005adf:0xdbe46faa3ebd51c4!8m2!3d48.847323!4d0.256492">61230 MARDILLY</a></td>
        </tr>
        <tr>
          <td><a class="ob-em" href=""><i class="fa fa-envelope-o"></i></a></td>
          <td><a class="ob-em" href="">Contacter par mail</a></td>
        </tr>
      </table>
    </div>
  </div>
</footer>
