<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{site.description}}">
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <meta property="og:image" content="{{site.url}}/images/t.jpg" />
  <title>{% if page.collection %}{{ page.collection | replace: "actualites","Actualités" | replace: "elevage","Élevage" | replace: "a_vendre","À vendre" }} &mdash; {% endif %}{{site.title}}</title>
  <link rel="alternate" type="application/atom+xml" title="Élevage de Theyssamy" href="{{ site.baseurl }}/feed.xml">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/{% if page.css %}{{ page.css }}{% else %}they.css{% endif %}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300,500' rel='stylesheet' type='text/css'>
  {% if page.url != "/404.html" %}
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
  <script type="text/javascript">
  {% include common.js %}
  {% if page.js %}{% include they_post.js %}
  {% else %}{% include they.js %}{% endif %}
  </script>
  {% endif %}
</head>